{% extends "base.html" %}

{% load humanize %}

{% block title %}Coding Competitions | {{ options.site_title }}{% endblock %}

{% block content %}
<div class="page-header">
  <a href="{% url "logout" %}" class="btn btn-lg btn-primary pull-right">Logout</a>
  <h1>Coding Competitions on {{ options.site_title }}</h1>
</div>

{% include "message_alerts.html" %}

<div class="list-group">
  {% for competition in competitions %}
  <div class="list-group-item list-group-item-{{ competition.get_role_class }} code-competition-item">
    <div class="btn-group pull-right">
      <a href="{{ competition.get_absolute_url }}"
	 class="btn btn-{{ competition.get_role_class }} main-link">{{ competition.get_role|title }}</a>
      <button class="btn btn-{{ competition.get_role_class }} dropdown-toggle"
	      data-toggle="dropdown">
	<span class="caret"></span>
	<span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
	{% if competition.get_role != "compete" %}
	<li>
	  <a href="{% url 'codecompetitions.views.compete' competition.id %}"
	     class="list-group-item-info">Compete</a>
	</li>
	{% endif %}
	{% if competition.get_role == "admin" %}
	<li>
	  <a href="{% url 'codecompetitions.views.judge' competition.id %}"
	     class="list-group-item-warning">Judge</a>
	</li>
	{% endif %}
	<li>
	  <a href="{% url 'codecompetitions.views.scoreboard' competition.id %}"
	     class="list-group-item-success">Scoreboard</a>
	</li>
      </ul>
    </div>

    <h4 class="media-heading">
      <big>{{ competition.name }} &ndash;</big>
      {{ competition.get_admins }}
    </h4>
    {{ competition.description|default:'<small class="text-muted">This competition has no description.</small>' }}
  </div>
  {% empty %}
  <div class="alert alert-info">
    <strong>Whoops, no competitions are in existence!</strong>
  </div>
  {% endfor %}
</div>

{% endblock %}
