{% extends "base.html" %}

{% block cssname %}login{% endblock %}

{% block title %}Change Your Password{% endblock %}

{% block content %}
<div class="jumbotron">
  
  <h2>Change Your Password</h2>
  <div id="intro">Please enter your old and new password below:</div>
  
  <form method="POST" action="">
    <div id="error-message" class="alert alert-danger">{{ message }}</div>
    <p><input name="old-password" placeholder="Old Password" class="form-control" type="password" /></p>
    <p><input name="new-password" placeholder="New Password" class="form-control" type="password" /></p>
    <p><input name="new-password-1" placeholder="Repeat New Password" class="form-control" type="password" /></p>
    <p><input type="submit" value="Change Password" class="btn btn-primary" /></p>
  </form>
</div>
{% endblock %}

{% block custom_style %}
#content {
    margin-top: 6%;
}

#error-message {
    line-height: 0.6;
    font-size: 0.9em;
    margin-top: 0.5em;
}

#error-message:empty {
    display: none;
}

input[type=submit] {
    margin-top: 1em;
    margin-left: 25%;
    width: 50%;
}
{% endblock %}
