
@voting-image-size: 64px;

.voteobject-image {
    width: @voting-image-size;
    max-height: @voting-image-size;
}

.voteobject-image-small {
    width: (@voting-image-size / 2);
    max-height: (@voting-image-size / 2);
}

.irv-container, .stv-container, .hw-container {

    .list-group-item {
	height: 4em;

	.irv-text, .stv-text, .hw-text {
	    display: inline-block;
	    margin-top: 0.5em;
	}

	.irv-choices, .stv-choices {
	    width: 50%;

	    button {
		min-width: 33.33%;
	    }
	}

    .hw-choices {
	    width: 20%;

	    button {
		min-width: 100%;
	    }
	}
    }

}
