{% extends "base.html" %}

{% load humanize %}

{% block content %}
<div class="page-header">
  <h1>{{ options.site_title }} Voting</h1>
</div>

{% include "message_alerts.html" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Current Polls</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      {% for poll in polls %}
      <a href="{{ poll.get_absolute_url }}" class="list-group-item {% if not poll.user_allowed %}list-group-item-info{% elif not poll.is_open %}list-group-item-warning{% elif "second" in poll.end_date|naturaltime %}list-group-item-info{% endif %}">
	<div class="media">
	  <img class="media-object voteobject-image pull-left" src="{% if poll.image %}{{ poll.image.url }}{% else %}{{ STATIC_URL }}{{options.voting_default_image}}{% endif %}" />
	  <div class="media-body">
	    <h4 class="media-heading">{{ poll.name }}</h4>
	    {{ poll.desc }}
	    {% if not poll.user_allowed %}
	    <div class="label label-info pull-right">You have already voted in this poll and may not change your vote.</div>
	    {% elif not poll.is_open %}
	    <div class="label label-warning pull-right">This poll is currently closed, but will open {{ poll.begin_date|naturaltime }}.</div>
	    {% elif "minute" in poll.end_date|naturaltime %}
	    <div class="label label-warning pull-right">This poll closes {{ poll.end_date|naturaltime }}.</div>
	    {% elif "second" in poll.end_date|naturaltime %}
	    <div class="label label-warning pull-right">This poll closes {{ poll.end_date|naturaltime }}!</div>
	    {% endif %}
	  </div>
	</div>
      </a>
      {% empty %}
      <div class="alert alert-info">
	<strong>Whoops, no polls are available to you right now!</strong>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
